<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/error.css">
  </head>
  <body>
    <% include ./header %>
    <section>
      <div class="error">
        <div>Error Occured!</div>
        <a href="/">Return to HOME</a>
      </div>
    </section>
  </body>
</html>
