<div class="success">
  <% for (var i = 0; i < results.length; i++) { %>
    <div class="passed">
      <i class="fas fa-check-circle"></i>
      <span>Test Passed</span>
    </div>
  <% } %>
  <a href="/">> Return to home</a>
</div>
