body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #303133;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #e6e6e6;
}

header {
    height: 80px;
    padding: 10px;
    background-color: #2a2a2a;
}

header img {
    height: 80px;
}

section {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.title {
    display: flex;
    align-items: baseline;
    padding: 15px 10px;
    margin-bottom: 15px;
}

.title > div:nth-child(1) {
    margin-right: 15px;
}

.title > div:nth-child(2) {
    margin-right: 20px;
    font-size: 19px;
    color: #e6e6e6;
}

.title > div:nth-child(3) {
    margin-right: 5px;
    color: #949595;
}

.title > div:nth-child(4) {
    color: #949595;
}

.level {
    padding: 5px 5px 3px 5px;
}

.level1 {
    border: 2px solid #e6e6e6;
    color: #e6e6e6;
}

.level2 {
    border: 2px solid #ebb52f;
    color: #ebb52f;
}

.level3 {
    border: 2px solid #3f7fb9;
    color: #3f7fb9;
}

.content {
    display: flex;
    height: 680px;
}

.content > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 55%;
}

.description {
    width: 40%;
    margin-right: 50px;
    background-color: #262729;
    color: #efefef;
}

.description > div:nth-child(1) {
    width: 100px;
    background-color: #3c3d3f;
    padding: 15px 20px;
    text-align: center;
    font-size: 19px;
}

.description > div:nth-child(2) {
    padding: 25px;
    line-height: 30px;
}

.input {
    margin-bottom: 75px;
    color: #efefef;
}

.input > div:nth-child(1) {
    padding: 15px 20px;
    background-color: #262729;
    font-size: 19px;
}

.input > form > textarea {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #131414;
    outline: none;
    border: none;
    color: #cbcbcb;
}

.input > form > input {
    position: absolute;
    right: 10px;
    margin: 10px 0;
    padding: 12px 15px;
    background-color: #6997db;
    border: none;
    border-radius: 7px;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}

.result {
    background-color: #262729;
    padding: 15px 20px;
    color: #efefef;
    font-size: 19px;
}

.empty {
    background-color: #000;
    height: 200px;
}

.results {
    box-sizing: border-box;
    height: 200px;
    padding: 20px;
    background-color: #000;
    color: #efefef;
}

.results > a:hover {
    text-decoration: underline;
}

.passed {
    margin-bottom: 10px;
    color: #69ae51;
}

.failed {
    margin-bottom: 10px;
    color: #be5d4b;
}

.invalid-error {
    height: 200px;
    padding: 20px;
    background-color: #000;
    box-sizing: border-box;
    color: #efefef;
}

.error {
    margin-bottom: 10px;
    color: #be5d4b;
}
