body {
    /* padding: 50px; */
    /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #303133;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #e6e6e6;
}

header {
    height: 80px;
    padding: 10px;
    background-color: #2a2a2a;
    /* border: 1px solid green; */
}

header img {
    height: 80px;
}

.content {
    /* border: 1px solid red; */
    display: flex;
    padding: 30px;
}

aside {
    background-color: #262729;
    width: 332px;
    margin-right: 30px;
    flex-shrink: 0;
}

.difficulty-title {
    padding: 20px;
}

.difficulty-title > div:nth-child(1) {
    color: #efefef;
    font-size: 20px;
    margin-bottom: 10px;
}

.difficulty-title > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap; 
}

.difficulty-title > div:nth-child(2) > a {
    margin-right: 20px;
}

.level {
    padding: 5px 5px 3px 5px;
}

.level1 {
    border: 2px solid #e6e6e6;
    color: #e6e6e6;
}

.level2 {
    border: 2px solid #ebb52f;
    color: #ebb52f;
}

.level3 {
    border: 2px solid #3f7fb9;
    color: #3f7fb9;
}

section {
    /* border: 1px solid orange; */
    width: 100%;
    padding-top: 5px;
}

section > div:nth-child(1) {
    color: #c9c9c9;
    font-size: 18px;
    margin-bottom: 30px;
}

section > div:nth-child(2) {
    padding-bottom: 20px;
}

.kata {
    display: flex;
    align-items: baseline;
    width: 100%;
    /* border: 1px solid brown; */
    padding: 15px 0;
    border-bottom: 1px solid #454648;
}

.kata > div:nth-child(1) {
    margin-right: 15px;
}

.kata > div:nth-child(2) {
    font-size: 19px;
    margin-right: 20px;
}

.kata > div:nth-child(3) {
    margin-right: 5px;
}





